# Root Kconfig for Zephyr FW.
#
# Important:
# Because this project provides its own Kconfig file, it must include
# Zephyr's root Kconfig. Otherwise all Zephyr symbols like LOG, SHELL,
# CPP, SERIAL, GPIO, etc. become undefined.

mainmenu "Zephyr FW"

source "Kconfig.zephyr"

menu "Zephyr FW"

rsource "app/Kconfig"

endmenu
