menu "Custom Firmware Shell Commands"
    depends on FW_SHELL

rsource "fw/Kconfig"
rsource "board/Kconfig"
rsource "system/Kconfig"
rsource "health/Kconfig"
rsource "diagnostics/Kconfig"
rsource "settings/Kconfig"
rsource "i2cdetect/Kconfig"

endmenu
