menu "Custom Firmware Shell Commands"
    depends on FW_SHELL

rsource "fw/Kconfig"
rsource "board_info/Kconfig"
rsource "system/Kconfig"
rsource "settings/Kconfig"
rsource "i2cdetect/Kconfig"

endmenu
