menu "Firmware Platform"

config FW_SHELL
    bool "Enable firmware shell commands"
    default y
    depends on SHELL

config FW_HEALTH_HEARTBEAT
    bool "Enable heartbeat health service"
    default n

config FW_DISPLAY
    bool "Enable display support"
    default n
    depends on DISPLAY && CHARACTER_FRAMEBUFFER

rsource "logging/Kconfig"

endmenu
